<style type="text/css">

    .teaser--test img {
        display:block;
        max-width:100%;
    }

</style>

<div class="teaser teaser--test">

    <!--<div ng-if="!deviceService.isTabletSize() && deviceService.isInPortraitMode()">-->
        <!--&lt;!&ndash; smartphone portrait &ndash;&gt;-->
        <!--<img ng-src="http://placehold.it/640x200/bfd5cb/ffffff" alt=""/>-->
    <!--</div>-->
    <!--<div ng-if="(!deviceService.isTabletSize() && !deviceService.isInPortraitMode()) || deviceService.isTabletSize() && deviceService.isInPortraitMode()">-->
        <!--&lt;!&ndash; smartphone landscape && tablet portrait &ndash;&gt;-->
        <!--<img ng-src="http://placehold.it/1536x500/bfd5cb/ffffff" alt=""/>-->
    <!--</div>-->
    <div ng-if="deviceService.isTabletSize() && !deviceService.isInPortraitMode()">
        <!-- tablet landscape mode -->
        <img ng-src="assets/images/main.jpg" alt=""/>
    </div>

</div>
